@charset "utf-8";

/*

Gallery Main Content Stylesheet
Author: Debish Sigdel
Filename: gallery.css.

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}


.grid_container {
    display: grid;
    height: 83vh;
    grid-template-columns: 1.2fr 0.8fr;
    overflow: hidden;
    z-index: 0;

}

.gallery_slideshow_container {
    width: 100%;
    position: relative; 
    overflow: hidden; 
    background-color: #000;
    right: 0;
}

.image_slides {
    overflow: hidden;
    display: none;
    text-align: center;

}

.image_slides img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    position: absolute; 
    top: 0;
    left: 0;
    animation: slideIn 2s ease forwards;
}

@keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}

#reset_doodle{
    cursor: pointer;
    position: absolute;
    top: 88%;
    right: 22%;
    width: auto;
    margin-top: -50px;
    padding: 16px;
    color: rgb(235, 66, 66);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: bottom;
    background-color: rgba(0, 0, 0, 0.5); 
}

.canvas-container {
    right: 1;
    width: 50%; 
    height: 83vh;
    border: 2px solid #000;
}

.canvas_title {
    background-color: rgba(109, 239, 120, 0.739);
    text-align: center;
    h2 {
        font-family: monospace;
        letter-spacing: .17em;
        font-weight: lighter;
    }
}


#doodlingCanvas {
    background: radial-gradient(
        circle, #15c4f0, #e5e8eaec
        );
}
  
canvas {
    width: 100%;
    height: 100%;
}

@media (max-width: 1024px) {
    .grid_container {
        height: 75vh;
        grid-template-columns: 1fr;
    }
    #reset_doodle{
        display: none;
    }
    .canvas-container {
        display: none;
    }
    #doodlingCanvas {
        display: none;
    }
    .canvas_title {
        display: none;
    }
    .gallery_slideshow_container {
        height: 200%;
    }
}
  
