@charset "utf-8";

/*

Homepage Stylesheet
Author: Debish Sigdel
Filename: header.css

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
  min-height: 80vh;
  padding-bottom: 10vh;
  overflow-y: scroll;
  background-image: url(../images/home_back2.jpg);
  background-repeat: no-repeat;
  background-size: cover
  
}

.tools_sneak_peek {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 4vh;
  padding-bottom: 2vh;
  overflow: scroll;
  background-color: #9ac191d3;
}

.tools_sneak_peek img {
  width: 3.5vw;
  margin-right: 3%;
  vertical-align: middle;
  justify-content: space-between;
}

.icon_container {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.icon_tooltip {
  visibility: hidden;
  width: 120px;
  background-color: rgba(202, 182, 182, 0.37);
  color: rgb(3, 3, 3);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 2; 
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.icon_container:hover .icon_tooltip {
  visibility: visible;
  opacity: 1;
}

.icon_size {
  height: 50%;
  width: 60%;
  object-fit: contain;
 
}

.homepage_intro {
  display: grid;
  grid-template-columns: 100vw;
}

.intro_tile {
  justify-self: end; 
  width: 40%;
  height: 100%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 2%;
  overflow: scroll;
  text-align: center;
  background-color: #9ac191d3;
  font-size: 130%;
  font-family: Calibri;
  span{
    font-size: 300%;
    color: #83151c
  }
  h2 {
    max-width: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
    color: #83151c;
  
  }
  h3 {
    color: #83151c;
    font-weight: bolder;
    font-size: larger;
    margin-top: 10%;
  }
  img {
    height: auto;
    width: 90%;
  }
}

/* Phone devices */
@media (max-width: 600px) {

  .tools_sneak_peek img {
    width: 12vw; 
  }
  
  .homepage_intro,
  .intro_tile {
    grid-template-columns: 100%;
    width: 80%; 
  }
  
  .intro_tile {
    padding: 5%; 
  }
}

/* iPad devices -  portrait and landscape orientations */
@media (min-width: 601px) and (max-width: 1024px) {
  .tools_sneak_peek img {
    width: 8vw;
  }
  
  .homepage_intro,
  .intro_tile {
    grid-template-columns: repeat(2, 50%);
  }
  
  .intro_tile {
    padding: 2%;
    font-size: 110%;
  }
}
